---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SimpleFetch from '../components/SimpleFetch.astro';
import SimpleMutate from '../components/SimpleMutate.astro';
---

<Layout title="Welcome to Astro.">
	<div style="display: flex; place-content: center;">
		<Card title = "Fetching and Mutating" cardID='fetchAndMutate'>
			<SimpleFetch/>
			<br>
			<SimpleMutate/>
		</Card>	
	</div>
</Layout>

