<div class="prose" style="
    display: flex;
    gap: var(--gap);
    justify-content: space-between;
    margin:var(--gap-x04) 0">
    <input type="text" name="names" id="inputNameTs">
    <button id="greet">Greet</button>
</div>

<div id="greetingMessage" ></div>

<script>

import { trpc } from "../utils/trpc";  
import swr from '../utils/swr'; 
import { createSignal } from "solid-js";

const [name, setName] = createSignal("OldMate");

document.getElementById("fetchAndMutate")!.addEventListener("input", (e) => {
    if ((e!.target as HTMLInputElement).matches("#inputNameTs")) {
        const value = (e!.target as HTMLInputElement).value;
        setName(value.toString());
    }
});

async function greetingFunc(name: string) {
    return await swr.noStaleMutate("greeting", () =>
        trpc.greetWithName.mutate({ names: name }),
    );
};

const greetingHandler = async (name: string) => {
    document.getElementById("greetingMessage")!.textContent = "Loading...";
    const [data, error] = await greetingFunc(name);
    if (data && data.message) {
        document.getElementById("greetingMessage")!.textContent = data.message;
    } else if (error) {
        document.getElementById("greetingMessage")!.textContent = "Error loading greeting";
    }
};

document.getElementById("fetchAndMutate")!.addEventListener("click", (e) => {
    if ((e!.target as HTMLInputElement).matches("#greet")) {
        greetingHandler(name());
    }
});

</script>